@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #eaecee;
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper .sidebar {
  position: relative;
}

.wrapper .sidebar .bg_shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: #000;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.wrapper .sidebar__inner {
  width: 380px;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  background: #eaecee;
  z-index: 999;
  transition: all 0.3s ease;
}

.wrapper .sidebar__inner .top {
  margin-left: 50px;
  padding-bottom: 20px;
  margin-top: 10px;
}
.profile-image {
  position: relative;
}
.pro-notification {
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 25px;
  height: 25px;

  text-align: center;
  border-radius: 50%;
  background-color: #a11878;
  color: white;
}
.sidebar__inner .top svg.pro-pic {
  width: 100px;
  margin: 0 auto;
}

.sidebar__inner .top image#imgSvg {
  padding: 20px;
}

.sidebar__inner .top #hex {
  stroke-width: 4;
  stroke: #0071bd;
  fill-opacity: 0.6;
  transition: fill-opacity 0.8s;
}

.sidebar__inner .top .settings {
  margin-left: 55px;
}

.sidebar__inner .profile {
  padding-left: 50px;
  margin-bottom: 50px;
}

.sidebar__inner .profile .profile-name h3 {
  font-size: 32px;
  font-weight: normal;
}

.sidebar__inner .profile .profile-id p {
  font-size: 20px;
  font-weight: lighter;
}

p.pro-details {
  font-size: 18px;
  font-weight: 400;
  margin-left: 35px;
}
.sidebar__inner .middle,
.sidebar__inner .bottom {
  margin-left: 40px;
}
.sidebar__inner .middle-element {
  margin-bottom: 20px;
  padding: 5px 0 5px 20px;
}

.sidebar__inner .specification p.pro-details {
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}

.sidebar__inner .specification:hover {
  background-color: #fff;
  width: 230px;
  border-radius: 30px;
  box-shadow: 1px #888888;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
}
.sidebar__inner .specification .pro-number {
  width: 40px;
  height: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  background-color: #a11878;
  font-size: 16px;
  padding: 3px 8px;
  margin-left: 5px;
}
.sidebar__inner .middle-element:hover svg.middle-element-details path {
  fill: #0071bd;
}

.sidebar__inner .line {
  width: 200px;
  height: 1px;
  background-color: #707070;
  margin: 40px;
}

.wrapper .main_container .top_navbar {
  width: 100%;
  height: 60px;
  background: #eaecee;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  padding-top: 30px;
  z-index: 9999999;
  transition: all 0.3s ease;
}

.wrapper .main_container .top_navbar .hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}

.wrapper .main_container .top_navbar .hamburger .fas {
  color: #707070;
  font-size: 25px;
  width: 35px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .main_container .top_navbar .menu {
  display: flex;
  align-items: center;
}

.wrapper .main_container .top_navbar .menu li a {
  margin: 0 15px;
  padding: 0 15px;
  position: relative;
  color: #1d4c9e;
  font-weight: 400;
  text-align: center;
}

.wrapper .main_container .top_navbar .right_bar {
  display: flex;
  align-items: center;
}

.wrapper .main_container .top_navbar .right_bar li {
  margin: 0 10px;
}

.wrapper .main_container .top_navbar .right_bar .fas {
  font-size: 25px;
  cursor: pointer;
  color: #88a3d0;
}
.top_navbar .right_bar li.has-search .form-control {
  padding-left: 2.375rem;
}

.top_navbar .right_bar li.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #000;
}
.top_navbar .right_bar li.has-search input {
  width: 325px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
}
.top_navbar .right_bar li.has-search input::placeholder {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
}
.top_navbar .right_bar li.has-search input::-moz-placeholder {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
}
.top_navbar .right_bar li.has-search input::-webkit-input-placeholder {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
}
.top_navbar .right_bar .bell {
  position: relative;
}
.top_navbar .right_bar .notify {
  background-color: #a11878;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -14px;
  right: 0;
}
.wrapper .main_container .top_navbar .right_bar li:hover,
.wrapper .main_container .top_navbar .hamburger .fas:hover {
  opacity: 0.5;
}

.wrapper .sidebar__inner .close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 25px;
  color: #000;
  display: none;
  cursor: pointer;
}

.wrapper .sidebar__inner .close:hover {
  opacity: 0.5;
}

.wrapper .right-panel {
  margin-top: 65px;
  margin-left: 380px;
  width: calc(100% - 380px);
  transition: all 0.3s ease;
}
.right-panel .card {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  margin: 10px auto;
}
.right-panel .card img.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 150px;
}
.right-panel .card .card-body h5.card-title {
  font-size: 20px;
  font-weight: 400;
}
.right-panel .card .card-body p {
  color: #707477;
  font-size: 14px;
  font-weight: 400;
  font-style: italic !important;
}
.right-panel .card .card-body span.card-span {
  color: #0071bd;
  font-style: normal;
}
.right-panel .card .card-body .category a {
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1px 25px;
  font-size: 12px;
  color: #000;
  margin-right: 3px;
}
.img-container {
  display: inline;
  position: relative;
}

.right-panel .card .close {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 800px) {
  .wrapper .top_navbar li.logo img {
    width: 150px;
  }
  .top_navbar .right_bar input {
    display: none;
    visibility: hidden;
  }

  .wrapper .main_container .top_navbar .bar-notify {
    background-color: #a11878;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .wrapper .main_container .top_navbar {
    padding-top: 10px;
  }
  .wrapper .sidebar__inner {
    left: -100%;
    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  }

  .sidebar__inner .specification {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  }

  .sidebar__inner .specification:hover {
    background-color: #eaecee;
  }
  .sidebar__inner .specification p.pro-details {
    font-size: 15px;
  }
  .sidebar__inner .specification svg.middle-element-details {
    width: 25px;
  }
  .sidebar__inner .middle-element:hover svg.middle-element-details path {
    fill: #0071bd;
  }
  .sidebar__inner .specification .pro-number {
    width: 15px;
    height: 10px;
    font-size: 14px;
  }

  .sidebar__inner .top .settings {
    display: none;
  }

  .sidebar__inner .line {
    margin: 20px auto;
    width: 150px;
  }
  .wrapper .main_container,
  .wrapper .main_container .top_navbar {
    margin-left: 0;
    width: 100%;
  }
  .wrapper .right-panel {
    margin-left: 0;
    width: 100%;
  }
  .cards {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    width: 100%;
  }
  .wrapper .main_container .top_navbar {
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
  }

  .wrapper.active .sidebar__inner {
    left: 0;
  }

  .wrapper .sidebar__inner .close,
  .wrapper .main_container .top_navbar .hamburger {
    display: block;
  }

  .wrapper.active .sidebar .bg_shadow {
    visibility: visible;
    opacity: 0.7;
  }
  .sidebar__inner .profile .profile-name h3 {
    font-size: 28px;
  }
  .right-panel .card .card-body {
    text-align: center;
  }
  .sidebar__inner .profile .profile-id p {
    font-size: 18px;
  }
  .sidebar__inner .middle-element {
    margin-bottom: 5px;
  }
  .sidebar__inner .profile {
    padding-left: 50px;
    margin-bottom: 10px;
  }
  .sidebar__inner .top {
    margin: auto;
    text-align: center;
  }

  .back {
    width: 50%;
    background: #10314c;
  }

  .extand-now {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .wrapper .top_navbar a.bell {
    display: none;
  }
}
